<h1>NE Community Board</h1>

<p>We hope you find what your looking for.</p>

<ul>
  {{#each model as |post|}}
    <li>{{post-tile post=post}}</li>
  {{/each}}
</ul>

{{new-post savePost2="savePost3"}}

{{#link-to 'sale'}}See Current Postings{{/link-to}}
